@import '../../../styles.scss';

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    gap: 0.5rem;

    .section-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .subtitle {
        font-size: 4rem;
        font-weight: bold;
        color: $white;
        text-align: center;
    }

    .body-text {
        text-align: center;
    }

    .cta {
        margin: 2rem auto;
        width: 10rem;
    
        a {
            font-weight: bold;
            color: white !important;
            text-decoration: none !important; 

        }
    }
}