@import '../../../styles.scss';

.contact-container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 60%;
    gap: 0.5rem;

    .signature {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 50%;
        height: 2rem;

        mat-icon {
            color: $moss;
        }

        .date {
            font-weight: bold;
            color: $forest;
        }

        .name {
            color: $forest;
        }

        .dot-divider {
            height: 0.6rem;
            width: 0.6rem;
            background-color: $moss;
            border-radius: 0.3rem;
        }

        .app-desc {
            position: relative;
            font-weight: bold;
            color: $forest;
        }
    }

    .link-section {
        display: flex;
        width: 20%;

        .places-links {
            width: 50%;
        }

        .contact-links {
            width: 50%;
        }

        .links-header {
            color: $forest;
            font-weight: bold;
            height: 2rem;
            display: flex;
            align-items: center;
        }

        .links-list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            list-style: none;
            padding: 0;
            margin-top: 2rem;

            .link-text {
                color: $forest;
                text-decoration: none;
            }
        }
    }
}