<div class="about-container">
    <div class="foley">
        <div class="foley-wrapper">
            <img src="../../assets/foley/arrow.svg"
                alt=""
                class="arrow-foley foley-animation-1">
            <img src="../../assets/foley/box.svg"
                alt=""
                class="box-foley foley-animation-2">
            <img src="../../assets/foley/mesh.svg"
                alt=""
                class="mesh-foley foley-animation-3">
            <img src="../../assets/foley/peas.svg"
                alt=""
                class="peas-foley foley-animation-4">
            <img src="../../assets/foley/sqwiggles.png"
                alt=""
                class="sqwiggles-foley foley-animation-5">
        </div>
    </div>
    <div class="about-content">
        <div class="wrapper top-box">
            <div class="box">
                <div class="title">designer</div>
                <div class="body-text">My design philosophy blends practicality with style. While I may not fit the stereotype of a designer glued to an artboard, I immerse myself in crafting user experiences across diverse mediums, from software interfaces to physical creations. I prioritize seamless functionality and aesthetic appeal, ensuring that each project resonates with elegance and flair.</div>
            </div>
        </div>
        <div class="wrapper middle-box">
            <div class="box">
                <div class="title">engineer</div>
                <div class="body-text">My approach to engineering is pragmatic and user-driven. Be it a mass-deployed monitoring dashboard or a personal project that only I will ever interact with, great care is taken through principled engineering to achieve the best experience the user can have. Armed with the right tools and a deep understanding of the foundational concepts, I thrive on the challenge of bringing creative visions to life.</div>
            </div>
        </div>
        <div class="wrapper bottom-box">
            <div class="box">
                <div class="title">builder</div>
                <div class="body-text">What this approach flows into is my hands-on approach of transforming concepts into reality. With each turn of the wrench or new line of code, I pour my passion into crafting remarkable creations that push my boundaries of design and engineering, always striving for the next knowledge frontier as a life long learner.</div>
            </div>
        </div>
    </div>
</div>