@import "../../../styles.scss";

.about-container {
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: $forest;
  position: relative;
  overflow: hidden;

  .about-content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 3rem;
    overflow: hidden;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      .box {
        background-color: $beige;
        width: 100%;
        text-align: left;
        padding: 2rem;
        border-radius: 1rem;

        .title {
          font-size: 1.5rem;
          font-weight: bold;
          color: $sage;
        }
        .body-text {
          color: $forest;
        }
      }
    }
  }

  .foley {
    display: none;
    height: 100%;
    width: 100%;
    max-width: 1800px;
    position: absolute;
    overflow: hidden;
    margin: -1rem;

    .foley-wrapper {
      height: 100%;
      position: relative;

      img {
        transform-origin: center;
      }

      .arrow-foley {
        position: absolute;
        width: 100px;
        right: 25%;
        bottom: 40%;
      }
      .box-foley {
        position: absolute;
        width: 160px;
        left: 10%;
        top: 20%;
      }
      .mesh-foley {
        position: absolute;
        width: 120px;
        left: 20%;
        bottom: 0;
      }
      .peas-foley {
        position: absolute;
        width: 120px;
        right: 10%;
        bottom: 10%;
      }
      .sqwiggles-foley {
        position: absolute;
        width: 120px;
        right: 15%;
        top: 1rem;
      }
    }
  }
}

.foley-animation-1 {
  animation: rock 2s infinite ease-in-out;
}

.foley-animation-2 {
  animation: rock 3s infinite ease-in-out;
}

.foley-animation-3 {
  animation: rock 4s infinite ease-in-out;
}

.foley-animation-4 {
  animation: rock 5s infinite ease-in-out;
}

.foley-animation-5 {
  animation: rock 6s infinite ease-in-out;
}

@media (max-width: 430px) {
  .about-container {
    .about-content {
      padding: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .about-container {
    .foley {
      display: block;
    }

    // .about-content {
    //   .wrapper {
    //     .box {
    //       width: 60%;
    //     }
    //   }
    //   .wrapper:nth-child(2) {
    //     justify-content: center;
    //   }
    //   .wrapper:nth-child(3) {
    //     justify-content: flex-end;
    //   }
    // }
  }
}

@keyframes rock {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
