@import '../../../styles.scss';

/* Header Container */
header {
    color: $forest;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo {
    img {
        height: 60px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        background-color: rgba(253, 250, 248, 0.9);
        border-radius: 2rem;
        display: inline;
        padding: 1rem 2rem;
        margin: 1rem;

        a {
            text-decoration: none;
            font-size: 1.4em;
            font-weight: light;
            color: $forest;
        }
    }
}

.cta {
    background-color: $moss !important;
    border-radius: 20px;

    a {
        font-weight: bold;
        color: white !important;
        padding: 2rem;
    }
}