<header>
  <div class="logo">
    <a routerLink="/home"><img src="../assets/logo.svg" alt="g" /></a>
  </div>
  <button class="hamburger" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="menu-overlay" [class.active]="isMenuOpen">
    <nav>
      <ul>
        <li>
          <a routerLink="/" fragment="about" (click)="toggleMenu()">about</a>
        </li>
        <li>
          <a routerLink="/" fragment="work" (click)="toggleMenu()">work</a>
        </li>
        <li>
          <a routerLink="/" fragment="projects" (click)="toggleMenu()"
            >projects</a
          >
        </li>
        <li class="cta" *ngIf="!isSmallScreen">
          <a routerLink="/" fragment="contact" (click)="toggleMenu()"
            >contact</a
          >
        </li>
      </ul>
    </nav>
    <contact-component *ngIf="isSmallScreen"></contact-component>
  </div>
</header>
