@import '../../../styles.scss';

$footer-height: 150px;

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - var(--footer-height));
    flex-direction: row;
    position: relative;
}
  
.text-column {
    width: 100%;
    padding: 4rem;
    padding-bottom: 5rem;
    gap: 10px;
    height: 300px;

    .title {
        font-size: 5rem;
        background: linear-gradient(to right, $mustard, $brick);
        -webkit-background-clip: text;
        color: transparent;
        margin: 0;
        display: block;
        line-height: 1.2;
    }
    
    .subtitle {
        font-size: 1.6rem;
        color: $gray-dark;
        display: block;
        line-height: 1.2;
        font-weight: bold;
    }
}

.person-image {
    max-width: 50%;
    max-height: 50vh;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
}

.flower-footer {
    position: absolute;
    overflow: hidden;
    bottom: 0;

    .flower-image {
        height: $footer-height;
        display: block;
    }
}
  