<div class="hero-container">
    <div class="text-column">
        <h1 class="title">hey,<br>i'm garret</h1>
        <p class="subtitle">let’s build something cool together</p>
    </div>
    <div class="image-box">
        <img src="../../assets/blocher_prof_pic.jpeg"
            alt="garret :)"
            class="person-image"
            width="400"
            height="400">
    </div>
    <!-- <footer class="flower-footer">
        <img src="../../assets/flowers.svg" alt="Flowers" class="flower-image">
    </footer> -->
</div>
<div class="waves-footer">
    <img src="../../assets/waves-forest.svg"
        alt=""
        class="waves-image">
</div>
  