.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - var(--footer-height)); /* Adjust based on footer height */
  }
  
  .text-column {
    flex-basis: 50%;
  }
  
  .title {
    font-size: 3rem; /* Adjust size as needed */
    background: linear-gradient(to right, #FFBB7C, #B85C4F);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 3rem;
  }
  
  .subtitle {
    font-size: 1.5rem; /* Adjust size as needed */
    color: #3B3732;
  }
  
  .image-column {
    flex-basis: 50%;
    position: relative;
  }
  
  .person-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1; /* Makes sure the text appears above the image */
  }
  
  .flower-footer {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .flower-image {
    width: auto;
    height: var(--footer-height); /* Define a consistent height for the footer */
    display: block; /* Ensures that the image will be tiled horizontally */
  }
  
  /* Define a custom property for footer height */
  :root {
    --footer-height: 150px; /* Adjust the height as necessary */
  }
  
  /* Media query for mobile devices */
  @media (max-width: 767px) {
    .hero-container {
      flex-direction: column;
    }
  
    .text-column,
    .image-column {
      flex-basis: 100%;
    }
  
    .person-image {
      order: -1; /* This will place the image above the text on mobile */
    }
  }
  