@import "../../../styles.scss";

.hero-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin: 4rem;
  padding: 4rem;
  box-sizing: border-box;
  height: 100%;
  flex-direction: row;
  position: relative;
  margin-bottom: 5rem;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 2rem 0;
    margin: 2rem;
    margin-bottom: 2rem;
  }
}

.text-column {
  width: 100%;
  gap: 10px;
  height: 300px;

  .title-container {
    position: relative;
    display: flex;
    height: 100%;
  }

  .title-stroke {
    -webkit-text-stroke: 4px rgba(253, 250, 248, 0.6);
    text-stroke: 4px rgba(253, 250, 248, 0.6);
    color: transparent;
  }

  .title-gradient {
    z-index: 1;
  }

  .title {
    font-size: 7rem;
    font-weight: 900;
    cursor: default;
    margin: 0;
    line-height: 0.9;
    padding: 0.2em 0;
    position: relative;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .subtitle {
    font-size: 1.6rem;
    cursor: default;
    color: $bark;
    display: block;
    line-height: 1.2;
    font-weight: bold;
  }
  @media (max-width: 1024px) {
    height: auto;
    text-align: start;
    margin-bottom: 2rem;
  }
}

.image-box {
  margin: auto;
  width: 400px;
  min-width: 400px;
  height: 400px;
  max-width: 50%;
  max-height: 50vh;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  border: $moss solid 10px;
  box-sizing: border-box;
  border-radius: 3rem;

  .person-image {
    width: 400px;
    min-width: 400px;
    height: 400px;
    position: absolute;
    left: -40px;
    top: -40px;
    object-fit: cover;
    border-radius: 2.5rem;
  }
  @media (max-width: 1024px) {
    position: relative;
    right: 0;
    left: auto;
    margin-right: 1rem;
    margin-left: auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-top: 2rem;
  }
  @media (max-width: 768px) {
    min-width: unset;
  }

  .person-image {
    @media (max-width: 1024px) {
      width: 100%;
      height: 100%;
      min-width: unset;
    }
  }
}
