<div class="projects-container">
    <div class="section-title">stuff i've done</div>
    <div class="project">
        <img class="project-image" src="../../../assets/camped_bw.png" alt="camped">
        <div class="project-info">
            <div class="info-header">
                <div>Camped</div>
            </div>
            <div class="info-body">building a festival from the ground up. what started as a camping trip with friends has blossomed into ..</div>
            <div class="info-links">
                <a href="https://campedcollective.com" target="_blank">link</a>
            </div>
        </div>
    </div>
    <div class="project">
        <img class="project-image" src="../../../assets/camped_bw.png" alt="camped">
        <div class="project-info">
            <div class="info-header">
                <div>Camped</div>
            </div>
            <div class="info-body">building a festival from the ground up. what started as a camping trip with friends has blossomed into ..</div>
            <div class="info-links">
                <a href="https://campedcollective.com" target="_blank">link</a>
            </div>
        </div>
    </div>
</div>
