@import "../../../styles.scss";

.projects-section {
  background-color: $forest;
  padding: 4rem 2rem;
  width: 100%;
  margin: -5px;
  display: flex;
  justify-content: center;
}

.projects-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $white;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.project-card {
  flex: 0 0 calc(33.333% - 2rem);
  min-width: 300px;
  background-color: rgba($tan, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    .project-image img {
      transform: scale(1.1);
    }
  }
}

.project-image {
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
}

.project-info {
  padding: 1.5rem;
}

.project-title {
  color: $moss;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.project-description {
  color: $white;
  font-size: 0.9rem;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  .projects-grid {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: $tan $forest;
    margin-left: 2rem;
    padding-right: 2rem;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $forest;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $tan;
      border-radius: 20px;
      border: 3px solid $forest;
    }
  }
}

@media (max-width: 768px) {
  .projects-section {
    padding: 2rem 1rem;
    width: calc(100% - 2rem);
  }

  .projects-content {
    width: 100%;
  }

  .section-title {
    font-size: 2rem;
  }

  .projects-grid {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    scrollbar-width: none;

    .project-card {
      height: 600px;
      max-height: 600px;
    }
  }
}
