<div class="work-container">
    <div class="section-title">where i've worked</div>
    <div class="work-inner">
        <div class="work-tabs">
            <ul class="work-list">
                <li
                    *ngFor="let work of workList"
                    [ngClass]="{'selected': work.selected }"
                    (click)="selectWork(work.company)"
                >
                    {{ work.displayName }}
                </li>
            </ul>
        </div>
        <div class="work-description">
            <div class="desc-header">
                <div class="job-title">{{ selectedWork?.jobTitle }}</div>
                <div class="company">@{{ selectedWork?.displayName }}</div>
            </div>
            <div class="desc-body">
                <ul class="desc-list">
                    <li
                        *ngFor="let desc of selectedWork?.description"
                    >
                        {{ desc.task }}
                        <ul>
                            <li
                                *ngFor="let detail of desc.details"
                            >
                                {{ detail }}    
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
