:host {
  width: 100%;
}

.waves-footer {
  width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;

  .waves-image-top,
  .waves-image-bottom {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .waves-image-top {
    width: 100%;
    transform: rotate(180deg);
    bottom: 0px;
    top: -1rem;
  }
}
