.waves-footer {
  width: 100%;
  overflow: hidden;
  left: 0;
  display: block;
  box-sizing: border-box;
  position: relative;

  .waves-image-top,
  .waves-image-bottom {
    width: calc(100% + 1rem);
    min-width: 800px;
    max-height: 200px;
    height: auto;
    display: block;
    position: relative;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }

  .waves-image-top {
    transform: translateX(-50%) rotate(180deg);
    bottom: 0px;
    top: -10px;
  }
}
