<header>
  <app-header></app-header>
</header>

<main *ngIf="isMainPage">
  <hero-component id="hero" class="section"></hero-component>
  <wave-component [location]="'bottom'"></wave-component>
  <about-component id="about" class="section"></about-component>
  <wave-component [location]="'top'"></wave-component>
  <work-component id="work" class="section"></work-component>
  <wave-component [location]="'bottom'"></wave-component>
  <projects-component id="projects" class="section"></projects-component>
  <wave-component [location]="'top'"></wave-component>
  <contact-component id="contact" class="section"></contact-component>
  <footer-component class="section"></footer-component>
</main>

<router-outlet></router-outlet>
