<!-- app.component.html -->
<header>
  <app-header></app-header>
</header>

<main>
  <hero-component class="section"></hero-component>
  <div class="waves-footer">
    <img src="../assets/waves-forest.svg"
        alt=""
        class="waves-image-top">
  </div>
  <about-component class="section"></about-component>
  <div class="waves-footer">
    <img src="../assets/waves-forest.svg"
        alt=""
        class="waves-image-bottom">
  </div>
  <work-component class="section"></work-component>
  <projects-component class="section"></projects-component>
  <contact-component class="section"></contact-component>
  <footer-component class="section"></footer-component>
</main>