@import '../styles.scss';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0;

    .section {
        display: flex;
        justify-content: center;
    }
}