<header>
  <app-header></app-header>
</header>

<main *ngIf="isMainPage">
  <hero-component id="hero" class="section"></hero-component>
  <div class="waves-footer">
    <img src="../assets/waves-forest.svg" alt="" class="waves-image-top" />
  </div>
  <about-component id="about" class="section"></about-component>
  <div class="waves-footer">
    <img src="../assets/waves-forest.svg" alt="" class="waves-image-bottom" />
  </div>
  <work-component id="work" class="section"></work-component>
  <div class="waves-footer">
    <img src="../assets/waves-forest.svg" alt="" class="waves-image-top" />
  </div>
  <projects-component id="projects" class="section"></projects-component>
  <div class="waves-footer">
    <img src="../assets/waves-forest.svg" alt="" class="waves-image-bottom" />
  </div>
  <contact-component id="contact" class="section"></contact-component>
  <footer-component class="section"></footer-component>
</main>

<router-outlet></router-outlet>
