<div class="project-detail">
  <div class="intro">
    <img [src]="project?.heroImage" alt="¯\_(ツ)_/¯" class="hero-image" />
    <div class="hero-text">
      <img [src]="project?.heroTitle" alt="¯\_(ツ)_/¯" class="title" />
      <p class="subtitle">{{ project?.overview }}</p>
      <div class="project-url">
        <img
          *ngIf="screenWidth > 768 && project?.projectUrl"
          src="assets/foley/link-arrow.svg"
          alt="arrow"
          class="project-url-arrow"
        />
        <a
          *ngIf="project?.projectUrl"
          [href]="project?.projectUrl"
          target="_blank"
          class="project-url-button"
          >{{ project?.projectUrl }}</a
        >
      </div>
    </div>
  </div>
  <wave-component [location]="'bottom'"></wave-component>
  <div class="wave-fill"></div>
  <wave-component [location]="'top'"></wave-component>
  <div class="vision">
    <div class="vision-body">
      <div class="vision-header">
        <div class="header-text">VISION</div>
      </div>
      <div class="vision-text">
        {{ project?.vision?.text }}
      </div>
    </div>
    <div class="vision-content-wrapper">
      <div class="vision-content">
        <div
          *ngFor="let image of project?.vision?.images"
          class="vision-image-wrapper"
        >
          <img
            [src]="image"
            alt="{{ project?.displayName }} vision image"
            class="vision-image"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="branding">
    <div class="branding-text-header">
      <div class="header-text">BRANDING</div>
    </div>
    <div class="branding-blob">
      <img src="assets/blob.svg" alt="blob" class="blob" />
      <div class="branding-colors">
        <div class="blob-text-sub-header">COLORS</div>
        <div class="blob-text-body">
          {{ project?.branding?.colors?.text }}
        </div>
        <img
          [src]="project?.branding?.colors?.image"
          alt=""
          class="color-image"
        />
        <div
          *ngFor="let color of project?.branding?.colors?.palette"
          class="color-description"
        >
          <span class="color-name">{{ color.name }}</span>
          <span class="color-description">{{ color.description }}</span>
        </div>
      </div>
    </div>
    <div class="branding-text">
      <div class="branding-text-body">
        <div class="text-sub-header">FONTS</div>
        <div class="text-body">
          {{ project?.branding?.fonts?.text }}
        </div>
        <div class="branding-fonts">
          <img
            [src]="project?.branding?.fonts?.image"
            alt=""
            class="font-image"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      <div class="content-header">{{ project?.content?.header }}</div>
      <div class="content-images-carousel">
        <button
          mat-icon-button
          class="carousel-button left"
          (click)="scrollLeft()"
        >
          <img src="assets/content-arrow-left.svg" alt="Left Arrow" />
        </button>
        <button
          mat-icon-button
          class="carousel-button right"
          (click)="scrollRight()"
        >
          <img src="assets/content-arrow-right.svg" alt="Right Arrow" />
        </button>
        <div class="content-images" #contentImages>
          <div
            *ngFor="let image of project?.content?.images"
            class="content-image-wrapper"
          >
            <img [src]="image" alt="" class="content-image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
