<div class="project-detail">
  <div class="intro">
    <img
      [src]="project?.heroImage"
      alt="{{ project?.displayName }} hero image"
      class="hero-image"
    />
    <div class="hero-text">
      <title-text-component
        [titleText]="project?.displayName"
      ></title-text-component>
      <p class="subtitle">{{ project?.overview }}</p>
    </div>
  </div>
  <wave-component [location]="'bottom'"></wave-component>
  <div class="wave-fill"></div>
  <wave-component [location]="'top'"></wave-component>
  <div class="vision">
    <div class="vision-body">
      <div class="vision-header">
        <div class="header-text">VISION</div>
      </div>
      <div class="vision-text">
        {{ project?.vision }}
      </div>
    </div>
    <div class="vision-content-wrapper">
      <div class="vision-content"></div>
    </div>
  </div>
  <div class="branding">
    <div class="samples">
      <img
        [src]="'assets/blob.svg'"
        alt="blob"
        class="blob"
      />
      <img
        [src]="brand?.image"
        alt="palette"
        class="palette"
      />
    </div>
    <div class="text">
      <div class="branding-header">BRANDING</div>
      <div class="branding-subheader">Colors</div>
      <p class="branding-text">{{ brand?.description }}</p>
    </div>
  </div>
  <div class="bottom-fill">blah blah</div>
</div>
