@import "../../../styles.scss";

.project-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 6rem auto;
  overflow: hidden;

  .intro {
    display: flex;
    height: 40rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;

    .hero-image {
      width: 600px;
      max-height: 600px;
      max-width: 800px;
    }

    .hero-text {
      width: 600px;
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .title {
        width: 100%;
        max-height: 100px;
        align-self: flex-start;
        object-fit: contain;
        object-position: left;
      }
      .subtitle {
        text-align: left;
        font-size: 1.2rem;
        line-height: 3rem;
        max-width: 800px;
        width: 100%;
      }
      .project-url {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 2rem;
        width: 100%;

        .project-url-arrow {
          transform: scale(0.6);
          animation: moveArrow 2s infinite alternate;
        }

        .project-url-button {
          background-color: $moss;
          color: $white;
          padding: 1rem 2rem;
          border-radius: 0.5rem;
          font-size: 1.2rem;
          font-weight: 900;
          text-decoration: none;
        }
      }
    }
  }

  .wave-fill {
    background-color: $forest;
    width: 100%;
    height: 20rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  .vision {
    top: -18rem;
    display: flex;
    padding: 0 4rem;
    max-width: 1200px;

    .vision-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: -12rem;
      z-index: 2;
      max-width: 800px;

      .vision-header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        max-width: 800px;

        .header-text {
          color: $sage;
          font-size: 4rem;
          font-weight: 900;
          max-width: 800px;
        }
      }

      .vision-text {
        font-size: 1rem;
        padding: 2rem;
        line-height: 3rem;
        width: calc(100% - 4rem);
        max-width: 800px;
        margin-top: 8rem;
        margin-bottom: 8rem;
      }
    }

    .vision-content-wrapper {
      height: calc(500px + 4rem);
      width: 1000px;
      min-width: 600px;
      position: relative;
      border-radius: 3rem;
      background-color: transparent;
      border: 1rem solid $moss;
      margin-top: -10rem;

      .vision-content {
        height: 500px;
        width: calc(100% - 4rem);
        position: absolute;
        top: -3rem;
        left: -2rem;
        border-radius: 2rem;
        background-color: $sage;
        padding: 2rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: stretch;
        justify-content: space-between;

        .vision-image-wrapper {
          width: 100%;
          height: 50%;

          &:nth-child(odd) {
            display: flex;
            justify-content: flex-start;
          }

          &:nth-child(even) {
            display: flex;
            justify-content: flex-end;
          }

          .vision-image-container {
            position: relative;
            height: 100%;
            width: auto;
            max-width: 100%;

            .vision-image {
              border-radius: 1rem;
              height: 100%;
              width: auto;
              max-width: 100%;
              object-fit: cover;
            }

            .vision-image-credit {
              position: absolute;
              bottom: 0.5rem;
              right: 0.5rem;
              background-color: rgba(0, 0, 0, 0.7);
              color: white;
              padding: 0.25rem 0.5rem;
              border-radius: 0.25rem;
              font-size: 0.5rem;
              line-height: 1.2;
              max-width: calc(100% - 1rem);

              a,
              a:-webkit-any-link,
              a:link,
              a:visited,
              a:hover,
              a:active {
                color: white !important;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .branding {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 4rem;

    .branding-text-header {
      position: absolute;
      top: 0;
      left: 50%;
      padding-left: 5.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      max-width: 600px;

      .header-text {
        color: $sage;
        font-size: 4rem;
        font-weight: 900;
      }
    }

    .branding-blob {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 2rem;
      position: relative;
      width: 50%;
      padding: 8rem 6rem;

      .blob {
        position: absolute;
        top: 0;
        right: 0;
        height: 120%;
        z-index: -1;
      }

      .branding-colors {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
        max-width: 600px;

        .blob-text-sub-header {
          color: $moss;
          font-size: 1.5rem;
          font-weight: 900;
        }

        .blob-text-body {
          font-size: 1rem;
          line-height: 3rem;
          color: $beige;
        }

        .color-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .color-description {
          font-size: 0.8rem;
          line-height: 1.5rem;
          font-weight: 200;
          color: white;

          .color-name {
            font-weight: 900;
            margin-right: 0.5rem;
            font-size: 1.2rem;
          }
        }
      }
    }

    .branding-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;
      width: 50%;
      min-width: 400px;
      padding: 6rem 4rem 0 4rem;

      .branding-text-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
        min-width: 400px;
        max-width: 400px;

        .text-sub-header {
          color: $moss;
          font-size: 1.5rem;
          font-weight: 900;
        }

        .text-body {
          font-size: 1rem;
          line-height: 3rem;
        }

        .branding-fonts {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 2rem;
          width: 100%;
          max-width: 600px;
          background-color: white;
          border-radius: 1rem;
          border: 2px solid $moss;
          box-sizing: border-box;
          padding: 1rem;

          .font-image {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .bottom-fill {
    height: 100rem;
  }
}

.content-wrapper {
  margin: 0 auto;
  height: calc(600px + 4rem);
  width: calc(100% - 12rem);
  max-width: 1200px;
  position: relative;
  border-radius: 3rem;
  background-color: transparent;
  border: 1rem solid $moss;

  .content {
    height: 600px;
    width: calc(100% - 4rem);
    max-width: 1200px;
    position: absolute;
    top: -3rem;
    left: -2rem;
    border-radius: 2rem;
    background-color: $sage;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;
    justify-content: space-between;
  }

  .content-header {
    font-size: 4rem;
    font-weight: 900;
    color: $moss;
  }

  .content-images-carousel {
    display: flex;
    align-items: center;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 6rem;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }

    &::before {
      left: -2px;
      background: linear-gradient(
        to right,
        rgba($sage, 1),
        rgba(255, 255, 255, 0)
      );
    }

    &::after {
      right: -2px;
      background: linear-gradient(
        to left,
        rgba($sage, 1),
        rgba(255, 255, 255, 0)
      );
    }

    .content-images {
      padding: 1rem 6rem;
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      width: 100%;
      height: calc(600px - 8rem);
      scrollbar-width: none;

      .content-image-wrapper {
        flex: 0 0 auto;
        margin-right: 6rem;
        height: 100%;

        .content-image {
          height: 100%;
          width: auto;
          object-fit: cover;
        }
      }
    }
  }

  .carousel-button {
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);

    mat-icon {
      transform: scale(4);
    }
  }

  .carousel-button.left {
    left: 0;
  }

  .carousel-button.right {
    right: 0;
  }
}

@keyframes moveArrow {
  from {
    transform: translateX(0) scale(0.6);
  }
  to {
    transform: translateX(20px) scale(0.6);
  }
}

@media (max-width: 1264px) {
  .project-detail {
    align-items: start !important;
    margin-bottom: 0;

    .intro,
    .vision,
    .branding {
      flex-direction: column;
    }

    .intro {
      height: 100% !important;
      max-height: 100% !important;
      margin-bottom: 2rem !important;
    }

    .hero-image {
      width: 80% !important;
      max-height: 100% !important;
      object-fit: cover !important;
      margin: 2rem !important;
    }

    .hero-text {
      width: 100% !important;
      min-width: 0 !important;
      margin: 0 !important;
      padding: 1rem !important;
      justify-content: center !important;
      align-items: center !important;

      .title {
        padding: 0 1rem !important;
        width: calc(100% - 2rem) !important;
      }

      .subtitle {
        padding: 0 2rem !important;
        text-align: start !important;
      }

      .project-url {
        justify-content: center !important;
      }
    }

    .wave-fill {
      margin: -0.5rem 0 !important;
    }

    .vision {
      top: -4rem !important;
      padding: 2rem !important;
      height: 100% !important;
      width: calc(100% - 4rem) !important;
      align-items: start !important;
      justify-content: center !important;

      .vision-body {
        width: calc(100% - 2rem) !important;
        max-width: 600px !important;
        min-width: 0 !important;
        padding: 0 !important;
        align-items: center !important;

        .vision-header {
          width: 100% !important;
          min-width: 0 !important;
          padding: 0 !important;
        }

        .vision-text {
          width: 100% !important;
          min-width: 0 !important;
          margin: 0 !important;
          margin-top: 4rem !important;
          padding: 0 !important;
        }
      }

      .vision-content-wrapper {
        width: calc(100% - 2rem) !important;
        min-width: 0 !important;
        height: 100% !important;
        margin: 0 !important;
        border: none !important;
        max-width: 600px !important;
        align-self: end !important;
        padding-right: 2rem !important;

        .vision-content {
          position: relative !important;
          top: 0 !important;
          left: 0 !important;
          height: auto !important;
          padding: 2rem !important;
          width: calc(100% - 2rem) !important;
          border-radius: 2rem !important;

          .vision-image-wrapper {
            height: auto !important;

            .vision-image {
              width: 100% !important;
              height: auto !important;
              max-height: 400px !important;
            }
          }
        }
      }
    }

    .branding {
      margin-top: 0 !important;
      width: 100% !important;

      .branding-text-header {
        position: relative !important;
        left: 0 !important;
        width: 100% !important;
        padding: 2rem !important;
        justify-content: start !important;
        align-items: start !important;
      }

      .branding-blob {
        width: calc(100% - 4rem) !important;
        min-width: 0 !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 6rem 2rem !important;
        margin-right: 2rem !important;

        .blob {
          height: 100% !important;
          right: 1rem !important;
        }

        .branding-colors {
          justify-content: start !important;
          align-items: start !important;
          width: calc(100% - 6rem) !important;
        }
      }

      .branding-text {
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        min-width: 0 !important;
        padding: 0 !important;

        .branding-text-body {
          width: calc(100% - 4rem) !important;
          min-width: 0 !important;
          max-width: 600px !important;
          padding: 2rem !important;

          .text-body {
            min-width: 0 !important;
            max-width: 600px !important;
          }

          .branding-fonts {
            justify-content: start !important;
            align-items: center !important;
          }
        }
      }
    }

    .content-wrapper {
      border: none !important;
      margin: 4rem 1rem !important;
      margin-bottom: 0 !important;
      width: calc(100% - 6rem) !important;
      height: calc(100% + 4rem) !important;

      .content {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: calc(100%) !important;
      }

      .carousel-button {
        display: none !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .content-images-carousel {
    &::before,
    &::after {
      width: 2rem !important;
    }

    .content-images {
      padding: 1rem !important;
    }
  }
}
