<div class="project-detail">
  <div class="intro">
    <img
      [src]="project?.heroImage"
      alt="{{ project?.displayName }} hero image"
      class="hero-image"
    />
    <div class="hero-text">
      <img
        [src]="'assets/projects/camped/camped-title.svg'"
        alt="{{ project?.displayName }} hero image"
        class="title"
      />
      <p class="subtitle">{{ project?.overview }}</p>
    </div>
  </div>
  <wave-component [location]="'bottom'"></wave-component>
  <div class="wave-fill"></div>
  <wave-component [location]="'top'"></wave-component>
  <div class="vision">
    <div class="vision-body">
      <div class="vision-header">
        <div class="header-text">VISION</div>
      </div>
      <div class="vision-text">
        {{ project?.vision?.text }}
      </div>
    </div>
    <div class="vision-content-wrapper">
      <div class="vision-content">
        <div
          *ngFor="let image of project?.vision?.images"
          class="vision-image-wrapper"
        >
          <img
            [src]="image"
            alt="{{ project?.displayName }} vision image"
            class="vision-image"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="branding">
    <div class="branding-blob">
      <img src="assets/blob.svg" alt="blob" class="blob" />
      <div class="branding-colors">
        <img
          [src]="project?.branding?.colors?.image"
          alt=""
          class="color-image"
        />
        <div
          *ngFor="let color of project?.branding?.colors?.palette"
          class="color-description"
        >
          <span class="color-name">{{ color.name }}</span>
          <span class="color-description">{{ color.description }}</span>
        </div>
      </div>
      <hr class="branding-divider" />
      <div class="branding-fonts">
        <img
          [src]="project?.branding?.fonts?.image"
          alt=""
          class="font-image"
        />
      </div>
    </div>
    <div class="branding-text">
      <div class="branding-text-header">
        <div class="header-text">BRANDING</div>
      </div>
      <div class="branding-text-body">
        <div class="text-sub-header">COLORS</div>
        <div class="text-body">
          {{ project?.branding?.colors?.text }}
        </div>
        <div class="text-sub-header">FONTS</div>
        <div class="text-body">
          {{ project?.branding?.fonts?.text }}
        </div>
      </div>
    </div>
  </div>
</div>
