<div class="popup">
	<div class="card-container">
		<ul>
			<li>
				<img src="../../../assets/figma-logo.svg" alt="F">
				<div>Figma for design</div>
			</li>
			<li>
				<img src="../../../assets/vite-logo.svg" alt="F">
				<div>Vite for development</div>
			</li>
			<li>
				<img src="../../../assets/github-logo.svg" alt="F">
				<div>GitHub for versioning</div>
			</li>
			<li>
				<img src="../../../assets/hostinger-logo.svg" alt="F">
				<div>Hostinger for deployment</div>
			</li>
		</ul>
		<div class="frontend-desc">
			Angular framework, Material components, Sass styling, little svg doodads
			<mat-icon aria-hidden="false" aria-label="Copyright icon" fontIcon="auto_awesome" class="glimmer-icon"></mat-icon>
		</div>
	</div>
</div>