/* import Montserrat from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* sizes */
$footer-height: 150px;

/* orange-purple */
$mustard: #ffbb7c;
$peach: #ffa477;
$orange: #ed7855;
$brick: #b85c4f;
$mauve: #ac6d7e;
$eggplant: #66475b;

/* green-blue */
$beige: #fdfaf8;
$tan: #d7bead;
$bark: #6d553b;
$sage: #9fc0ad;
$moss: #4a8164;
$forest: #223b2e;
$lake: #1e4177;
$sky: #9ca6cb;

/* grays */
$gray-dark: #312c29;
$gray-medium-darker: #3b3732;
$gray-medium-dark: #48433e;
$gray-medium: #5c5651;
$gray-medium-light: #7f7871;
$gray-medium-lighter: #b4aea8;
$gray-light: #f2f1ec;

$white: #fff;
$black: #000;

/* global font family assignment */
html {
  background-color: $beige;
  font-family: "Montserrat", sans-serif;
  font-size: 1em !important;
  color: $gray-medium;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

button {
  font-family: inherit;
}

// Override browser default link color for image credits
.vision-image-credit a,
.vision-image-credit a:-webkit-any-link,
.vision-image-credit a:link,
.vision-image-credit a:visited,
.vision-image-credit a:hover,
.vision-image-credit a:active {
  color: white !important;
  text-decoration: underline;
}

// * {
//   outline: 1px solid red;
// }
